body {
    font-family: "Avenir";
    font-size: 24px;
    background-color: #ff9999; /* salmon */
    color: White;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3px;
    padding-bottom: 3px;
}
